.achievement {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 366px;
  }
}

.achievement__wrapper {
  width: 124px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.achievement__text-large {
  font-family: $font-stack;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  display: block;
  width: auto;
  padding-top: 14px;
  padding-bottom: 17px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.achievement__text {
  font-family: $font-additional;
  font-size: 12px;
  line-height: 12px;
  color: #444;
  text-align: center;

  display: block;
  width: min-content;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #fff;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}


