.additional-goods {
  @media (min-width: $desktop-width) {
    padding-bottom: 86px;
  }
}

.additional-goods__title-wrapper {
  padding-top: 25px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}


.additional-goods__title {
  font-family: $font-stack;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.additional-goods__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-goods__item {
  padding-top: 13px;
  padding-bottom: 18px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    padding-top: 26px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 27px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 325px auto 244px;
    align-items: baseline;
    border-left: none;
    border-right: none;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
  }
}

.additional-goods__item-title {
  font-family: $font-stack;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222;
  margin: 0;
  padding-left: 1px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {

  }
}

.additional-goods__item-description-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
  }
}

.additional-goods__item-description {
  font-family: $font-additional;
  font-size: 14px;
  line-height: 14px;
  color: #444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }
}

.additional-goods__item-size {
  @media (min-width: $desktop-width) {
    width: 230px;
    margin-right: 14px;
  }
}

.additional-goods__item-cost {
  @media (min-width: $tablet-width) {
    min-width: 100px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    min-width: 82px;
  }
}

.additional-goods__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: span 1;
    padding: 0;
  }
}

.additional-goods__promotion-section {
  padding-top: 35px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: 70px 0 75px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 79px;
    padding: 0;
  }
}

.additional-goods__inner-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

