.catalog-section {
  padding: 22px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 77px 62px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 52px 55px 52px;
  }
}

.catalog-section__title {
  font-family: $font-stack;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 91px - 22;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    max-width: 340px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
  }
}

.catalog-section__text {
  font-family: $font-additional;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding: 22px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 340px;
  }
}

.catalog-section__link-button {
  font-family: $font-stack;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
