.catalog-section {
  background-color: #f2f2f2;
}

.catalog-section__title {
  font-family: $font-stack;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.catalog-section__text {
  font-family: $font-additional;
  font-size: 14px;
  line-height: 18px;
  color: #444444
}

.catalog-section__link-button {
  font-family: $font-stack;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
