.catalog__list {
  list-style-type: none;
}

.catalog__item-title {
  font-family: $font-stack;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222;
}

.catalog__item-title--darken {
  color: #111;
}

.catalog__item-properties {
  font-family: $font-additional;
  font-size: 12px;
  line-height: 16px;
  color: #444;
}

.load-more__text {
  font-family: $font-additional;
  font-size: 12px;
  line-height: 16px;
  color: #444;
}
