

.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 62px 80px;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 25px;
  border-top: 1px solid #ebebeb;

  &:last-child {
    border-bottom: 1px solid #ebebeb;
  }

  @media (min-width: $tablet-width) {
    grid-template-rows: 161px;
    margin-top: $catalog-image-offset;
    padding-top: 0;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 39px;
    border: none;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 40px;
  }
}

.catalog__item-img {
  align-self: center;
  justify-self: center;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
    margin-top: -$catalog-image-offset;
  }
}

.catalog__item picture {
  align-self: center;
  justify-self: center;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }
}

.catalog__item-description {
  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }
}

.catalog__item-title {
  font-family: $font-stack;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222;

  margin: 0;
  margin-bottom: 18px;
  max-width: 90px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 21px;
    max-width: 125px;
    text-align: center;
  }
}

.catalog__item-properties {
  font-family: $font-additional;
  font-size: 12px;
  line-height: 16px;
  color: #444;

  overflow: hidden;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.catalog__item-properties dt {
  margin: 0;
	padding: 0;
  width: 100px;
	float: left;
	clear: both;

  @media (min-width: $tablet-width) {
    padding: 7px 0 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__item-properties dd {
  margin: 0 0 0 100px;
	padding: 0;
  text-align: end;

  @media (min-width: $tablet-width) {
    padding: 7px 0 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__item-button {
  grid-column: 1 / -1;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
  }
}

.catalog__item--load-more {
  display: flex;
  flex-direction: column;
  row-gap: 0;

  position: relative;
  padding-top: 78px;

  &::before,
  &::after {
    content: '';
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    position: absolute;
    top: 39px;
    left: 125px;

    @media (min-width: $tablet-width) {
      width: 60px;
      top: 82px;
      left: 132px;
    }

    @media (min-width: $desktop-width) {
      top: 82px;
      left: 92px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    border: 2px solid #f2f2f2;
    background-color: #fff;
    padding-top: 161px;
  }
}

.load-more__title {
  color: #111;
  margin: 0 auto 8px;
  max-width: none;

  @media (min-width: $tablet-width) {
    max-width: 140px;
    margin-bottom: 15px;
  }
}

.load-more__text {
  font-family: $font-additional;
  font-size: 12px;
  line-height: 16px;
  color: #444;
  margin: 8px auto 21px;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    text-align: center;
  }
}

.catalog__item-button--load-more {

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}

