.contacts-section {
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts-section__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    width: 405px;
    padding: 60px 80px;
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: #fff;
    z-index: 1;
  }
}

.contacts-section__subtitle {
  font-family: $font-stack;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts-section__adress {
  font-family: $font-additional;
  font-size: 14px;
  line-height: 20px;
  color: #444;
  word-spacing: 3px;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: 1px;
    word-spacing: 1px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.contacts-section--grey-theme {
  background-color: #f2f2f2;
}

.contacts-section__location {
  width: $mobile-width;
  height: 362px;
  vertical-align: bottom;
  position: relative;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.contacts-section__pin {
  display: block;
  width: 57px;
  height: 53px;
  position: absolute;
  top: 139px;
  left: 134px;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 106px;
    top: 146px;
    left: 333px;
  }

  @media (min-width: $desktop-width) {
    top: 131px;
    left: 908px;
  }
}
