.contacts-section__subtitle {
  font-family: $font-stack;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts-section__text {
  font-family: $font-additional;
  font-size: 14px;
  line-height: 20px;
  color: #444;
}

.contacts-section--grey-theme {
  background-color: #f2f2f2;
}
