.descriptions__title {
  font-family: $font-stack;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.descriptions__list {
  list-style-type: none;
  padding: 0;
}

.descriptions__item {
  font-family: $font-additional;
  font-size: 14px;
  line-height: 18px;
  color: #444;
}
