.descriptions__title {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.descriptions__list {
  list-style-type: none;
  padding: 0;
}

.descriptions__item {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444;
}
