.form-header__title {
  font-family: $font-stack;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.form-header__text {
  font-family: $font-stack;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
