.page-header {
  box-sizing: border-box;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 708px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.page-header__wrapper {
  display: flex;
}

.page-header__logo {
  margin-right: auto;
}

.page-header__nav {
  position: absolute;
  width: 100%;
  left: 0;
  top: 58px;

  @media (min-width: $tablet-width) {
    position: static;
    width: auto;
    margin-left: auto;
  }
}

.page-header__toggle {

  @media (min-width: $tablet-width) {
    display: none;
  }
}
