.selection-form__title {
  font-family: $font-stack;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
}

.selection-form__list {
  list-style-type: none;
}

.selection-form__label {
  font-family: $font-stack;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444;
}

.selection-form__label--radio {
  color: #222;
}

.selection-form__input {
  font-family: $font-stack;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444;
}

.selection-form__comment {
  font-family: $font-stack;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444;
}

.selection-form__label--checkbox {
  color: #000;
}

.selection-form__footnote {
  font-family: $font-additional;
  font-size: 14px;
  line-height: 16px;

}
