.site-list {
  list-style-type: none;
  padding: 0;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  z-index: 1;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.site-list__item {
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 18px;
  }
}

.site-list__item--active .site-list__link {
  &::after {
    @media (min-width: $tablet-width) {
      content: '';
      display: block;
      margin-top: 8px;
      height: 2px;
      background-color: $main-theme-color;
    }

    @media (min-width: $desktop-width) {
      background-color: #fff;
      margin-top: 6px;
    }
  }
}

.site-list__item--active .site-list__link--dark {
  &::after {
    @media (min-width: $tablet-width) {
      background-color: $main-theme-color
    }
  }
}

.site-list__link {
  font-family: $font-stack;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
  }
}

.site-list__link--dark {
  @media (min-width: $desktop-width) {
    color: #111;
  }
}
