.socials-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
  padding: 0;

}

.socials-link {
  display: block;
}

.socials-icon {
  fill: #666;

  .socials-link:hover & {
    fill: $main-theme-color;
  }

  .socials-link:active & {
    opacity: 0.3;
  }
}

.socials-icon--vk {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.socials-icon--instagram {
  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }
}

.socials-icon--facebook {
  fill: none;
  stroke: #666;

  .socials-link:hover & {
    fill: none;
    stroke: $main-theme-color;
  }

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 30px;
  }
}
