.socials-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
  padding: 0;
}

.socials-link {
  display: block;
}

.socials-icon {
  fill: #666;

  &:hover {
    fill: $main-theme-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.socials-icon--fill-none {
  fill: none;
  stroke: #666;

  &:hover {
    fill: none;
    stroke: $main-theme-color;
  }
}
