@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2"), url("../fonts/oswaldmedium.woff");
}
.page-header {
  box-sizing: border-box;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .page-header {
    width: 708px;
    display: flex;
  }
}
@media (min-width: 1440px) {
  .page-header {
    width: 1220px;
  }
}

.page-header__wrapper {
  display: flex;
  padding-top: 10px;
  padding-bottom: 12px;
}
@media (min-width: 768px) {
  .page-header__wrapper {
    padding-top: 0;
    padding-bottom: 24px;
  }
}

.page-header__logo {
  margin-right: auto;
}

.page-header__toggle {
  position: relative;
  width: 24px;
  height: 38px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}

.page-header__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: #000;
  box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
}

.page-header__nav {
  margin-left: auto;
  max-width: 610px;
}

.page-main {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-main {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .page-main {
    width: 1440px;
  }
}

.page-main__header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .page-main__header {
    padding-top: 36px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .page-main__header {
    padding-top: 82px;
  }
}

.page-main__section {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .page-main__section {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .page-main__section {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.page__body {
  margin: 0;
}
@media (min-width: 768px) {
  .page__body {
    padding-top: 24px;
  }
}
@media (min-width: 1440px) {
  .page__body {
    padding-top: 53px;
  }
}

.achievement {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .achievement {
    width: 366px;
  }
}

.achievement__wrapper {
  width: 124px;
  position: relative;
}
@media (min-width: 768px) {
  .achievement__wrapper {
    width: 162px;
  }
}

.achievement__text-large {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  display: block;
  width: auto;
  padding-top: 14px;
  padding-bottom: 17px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .achievement__text-large {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 19px;
  }
}

.achievement__text {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444;
  text-align: center;
  display: block;
  width: min-content;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .achievement__text {
    font-size: 14px;
    line-height: 14px;
    background-color: #fff;
    width: max-content;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (min-width: 1440px) {
  .achievement__text {
    background-color: #f2f2f2;
  }
}

@media (min-width: 1440px) {
  .additional-goods {
    padding-bottom: 86px;
  }
}

.additional-goods__title-wrapper {
  padding-top: 25px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .additional-goods__title-wrapper {
    padding-top: 68px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .additional-goods__title-wrapper {
    padding-top: 74px;
  }
}

.additional-goods__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}
@media (min-width: 768px) {
  .additional-goods__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 37px;
  }
}
@media (min-width: 1440px) {
  .additional-goods__title {
    margin-left: 0;
  }
}

.additional-goods__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-goods__item {
  padding-top: 13px;
  padding-bottom: 18px;
  border-top: 1px solid #cdcdcd;
}
.additional-goods__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .additional-goods__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    padding-top: 26px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 27px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .additional-goods__item {
    grid-template-columns: 325px auto 244px;
    align-items: baseline;
    border-left: none;
    border-right: none;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
  }
}

.additional-goods__item-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222;
  margin: 0;
  padding-left: 1px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .additional-goods__item-title {
    font-size: 20px;
    line-height: 20px;
  }
}
.additional-goods__item-description-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .additional-goods__item-description-wrapper {
    justify-content: end;
  }
}
@media (min-width: 1440px) {
  .additional-goods__item-description-wrapper {
    justify-content: start;
  }
}

.additional-goods__item-description {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444;
}
@media (min-width: 768px) {
  .additional-goods__item-description {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .additional-goods__item-size {
    width: 230px;
    margin-right: 14px;
  }
}

@media (min-width: 768px) {
  .additional-goods__item-cost {
    min-width: 100px;
    text-align: end;
  }
}
@media (min-width: 1440px) {
  .additional-goods__item-cost {
    text-align: start;
    min-width: 82px;
  }
}

.additional-goods__button {
  width: 100%;
}
@media (min-width: 768px) {
  .additional-goods__button {
    grid-column: span 2;
  }
}
@media (min-width: 1440px) {
  .additional-goods__button {
    grid-column: span 1;
    padding: 0;
  }
}

.additional-goods__promotion-section {
  padding-top: 35px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .additional-goods__promotion-section {
    padding: 70px 0 75px;
  }
}
@media (min-width: 1440px) {
  .additional-goods__promotion-section {
    margin-left: 79px;
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .additional-goods__inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.button {
  display: block;
  background-color: #68B738;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--font-size-s {
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
}
@media (min-width: 768px) {
  .button--font-size-s {
    font-size: 20px;
    line-height: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 26px;
    padding-right: 26px;
  }
}

.button--grey {
  color: #444;
  background-color: #f2f2f2;
}
.button--grey:hover {
  background-color: #ebebeb;
}
.button--grey:active {
  color: rgba(68, 68, 68, 0.3);
}

.catalog-header {
  width: 280px;
  margin: 0 auto;
  padding: 27px 20px 40px;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .catalog-header {
    width: 708px;
    padding-top: 36px;
    padding-bottom: 82px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .catalog-header {
    width: 1220px;
    padding-top: 47px;
    padding-bottom: 83px;
  }
}

.catalog-header__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog-header__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog-section {
  padding: 29px 20px 20px;
  background-color: #f2f2f2;
  position: relative;
}
@media (min-width: 768px) {
  .catalog-section {
    padding: 77px 62px 60px 52px;
  }
}
@media (min-width: 1440px) {
  .catalog-section {
    padding: 77px 52px 60px 52px;
  }
}
.catalog-section::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-color: #68B738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .catalog-section::after {
    width: 200px;
    height: 200px;
    top: 91px;
    left: auto;
    right: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog-section::after {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
    right: auto;
  }
}

.catalog-section--slim::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 29px;
  width: 36px;
  height: 50px;
  z-index: 1;
  background-image: url(../img/catalog-sections-img-slim.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  .catalog-section--slim::before {
    top: 81px;
    left: auto;
    right: 92px;
    width: 140px;
    height: 194px;
  }
}
@media (min-width: 1440px) {
  .catalog-section--slim::before {
    width: 70px;
    height: 97px;
    top: 41px;
    left: 67px;
    right: 0;
  }
}

.catalog-section--massive::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;
  z-index: 1;
  background-image: url(../img/catalog-sections-img-massive.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  .catalog-section--massive::before {
    top: 135px;
    left: auto;
    right: 28px;
    width: 268px;
    height: 112px;
  }
}
@media (min-width: 1440px) {
  .catalog-section--massive::before {
    width: 134px;
    height: 56px;
    top: 67px;
    left: 33px;
    right: 0;
  }
}

.catalog-section__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 69px;
}
@media (min-width: 768px) {
  .catalog-section__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    max-width: 340px;
  }
}
@media (min-width: 1440px) {
  .catalog-section__title {
    margin-left: 162px;
  }
}

.catalog-section__text {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-top: 29px;
  margin-bottom: 0;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 23px;
}
@media (min-width: 768px) {
  .catalog-section__text {
    margin-top: 26px;
    font-size: 16px;
    line-height: 24px;
    max-width: 340px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .catalog-section__text {
    margin-top: 73px;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}

.catalog-section__link-button {
  display: inline-block;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 19px;
}
.catalog-section__link-button:active {
  opacity: 0.6;
}
.catalog-section__link-button::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url(../img/catalog-sections-button-icon.svg);
  width: 24px;
  height: 12px;
  left: auto;
  right: -40px;
  top: 2px;
}
@media (min-width: 768px) {
  .catalog-section__link-button::after {
    top: 3px;
    right: -50px;
  }
}
@media (min-width: 768px) {
  .catalog-section__link-button {
    font-size: 20px;
    line-height: 20px;
    margin-top: 32px;
  }
}
@media (min-width: 1440px) {
  .catalog-section__link-button {
    margin-top: 8px;
  }
}

.catalog-sections {
  padding-top: 0;
  display: grid;
  gap: 20px;
}
@media (min-width: 768px) {
  .catalog-sections {
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections {
    grid-template-columns: 570px 570px;
    gap: 80px;
  }
}

.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
}
@media (min-width: 768px) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 62px 80px;
  }
}

.catalog__item {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  row-gap: 13px;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid #ebebeb;
}
.catalog__item:last-child {
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .catalog__item {
    grid-template-rows: 151px;
    row-gap: 0;
    margin-top: 81px;
    padding-top: 0;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 38px;
    border: none;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .catalog__item {
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 40px;
  }
}

.catalog__item-img-wrapper {
  position: relative;
}
@media (min-width: 768px) {
  .catalog__item-img-wrapper {
    grid-column: span 2;
    margin-top: -81px;
  }
}

.catalog__item-img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 26px;
}
@media (min-width: 768px) {
  .catalog__item-img {
    margin-bottom: 19px;
  }
}
@media (min-width: 1440px) {
  .catalog__item-img {
    margin-bottom: 28px;
  }
}

.catalog__item-description {
  padding-bottom: 9px;
}
@media (min-width: 768px) {
  .catalog__item-description {
    grid-column: span 2;
    margin-top: 11px;
    margin-bottom: 0;
  }
}

.catalog__item-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222;
  margin: 0;
  margin-bottom: 12px;
  max-width: 90px;
}
@media (min-width: 768px) {
  .catalog__item-title {
    margin: 0 auto;
    margin-bottom: 12px;
    max-width: 135px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog__item-properties {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444;
  overflow: hidden;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog__item-properties {
    font-size: 16px;
    line-height: 16px;
  }
}

.catalog__item-properties dt {
  margin: 0;
  padding: 0;
  width: 100px;
  float: left;
  clear: both;
}
@media (min-width: 768px) {
  .catalog__item-properties dt {
    padding: 8px 0 7px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__item-properties dd {
  margin: 0 0 0 100px;
  padding: 0;
  text-align: end;
}
@media (min-width: 768px) {
  .catalog__item-properties dd {
    padding: 8px 0 7px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__item-button {
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .catalog__item-button {
    margin-top: 25px;
  }
}

.catalog__item--load-more {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  position: relative;
  padding-top: 78px;
}
.catalog__item--load-more::before, .catalog__item--load-more::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  position: absolute;
  top: 39px;
  left: 125px;
}
@media (min-width: 768px) {
  .catalog__item--load-more::before, .catalog__item--load-more::after {
    width: 60px;
    top: 82px;
    left: 132px;
  }
}
@media (min-width: 1440px) {
  .catalog__item--load-more::before, .catalog__item--load-more::after {
    top: 82px;
    left: 92px;
  }
}
.catalog__item--load-more::after {
  transform: rotate(90deg);
}
@media (min-width: 768px) {
  .catalog__item--load-more {
    border: 2px solid #f2f2f2;
    background-color: #fff;
    padding-top: 161px;
  }
}

.load-more__title {
  color: #111;
  margin: 0 auto;
  max-width: none;
}
@media (min-width: 768px) {
  .load-more__title {
    max-width: 140px;
    margin-bottom: 15px;
    line-height: 22px;
  }
}

.load-more__text {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444;
  margin: 8px auto 21px;
}
@media (min-width: 768px) {
  .load-more__text {
    font-size: 16px;
    line-height: 18px;
    max-width: 170px;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .load-more__text {
    max-width: max-content;
  }
}

@media (min-width: 768px) {
  .catalog__item-button--load-more {
    margin-top: auto;
  }
}

.contacts-section {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1440px) {
  .contacts-section {
    position: relative;
  }
}

.contacts-section__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
}
@media (min-width: 768px) {
  .contacts-section__wrapper {
    padding: 60px 70px;
  }
}
@media (min-width: 1440px) {
  .contacts-section__wrapper {
    width: 405px;
    padding: 60px 80px;
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: #fff;
    z-index: 1;
  }
}

.contacts-section__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts-section__subtitle {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts-section__adress {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444;
  word-spacing: 3px;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts-section__adress {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: 1px;
    word-spacing: 1px;
  }
}
@media (min-width: 1440px) {
  .contacts-section__adress {
    text-align: start;
  }
}

.contacts-section--grey-theme {
  background-color: #f2f2f2;
}

.contacts-section__location {
  width: 320px;
  height: 362px;
  vertical-align: bottom;
  position: relative;
}
@media (min-width: 768px) {
  .contacts-section__location {
    width: 768px;
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .contacts-section__location {
    width: 1440px;
  }
}

.contacts-section__pin {
  display: block;
  width: 57px;
  height: 53px;
  position: absolute;
  top: 139px;
  left: 134px;
}
@media (min-width: 768px) {
  .contacts-section__pin {
    width: 113px;
    height: 106px;
    top: 146px;
    left: 333px;
  }
}
@media (min-width: 1440px) {
  .contacts-section__pin {
    top: 131px;
    left: 908px;
  }
}

.copyright {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
@media (min-width: 768px) {
  .copyright {
    width: 163px;
  }
}

.copyright:active .copyright__name {
  opacity: 0.3;
}

.copyright:hover .copyright__logo {
  fill: #68B738;
}

.copyright:active .copyright__logo {
  opacity: 0.3;
}

.copyright__name {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444;
}

.descriptions {
  padding-top: 22px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .descriptions {
    padding-top: 43px;
    padding-bottom: 85px;
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1440px) {
  .descriptions {
    border: none;
    padding-top: 72px;
    padding-bottom: 30px;
  }
}

.descriptions__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .descriptions__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.descriptions__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .descriptions__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 58px;
    row-gap: 74px;
  }
}
@media (min-width: 1440px) {
  .descriptions__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}

.descriptions__item {
  display: flex;
  margin-bottom: 18px;
  padding-top: 2px;
  position: relative;
}
@media (min-width: 768px) {
  .descriptions__item {
    flex-direction: column;
    padding-left: 0;
    padding-top: 40px;
    max-width: 240px;
  }
}

.descriptions__icon {
  width: 60px;
  height: 60px;
  background-color: #68B738;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .descriptions__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 32px;
  }
}
@media (min-width: 768px) {
  .descriptions__icon::after {
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 113px;
  }
}

.descriptions__icon--leaf {
  background-image: url(../img/descriptions-leaf.svg);
}
@media (min-width: 768px) {
  .descriptions__icon--leaf::after {
    content: "1";
  }
}

.descriptions__icon--tub {
  background-image: url(../img/descriptions-tub.svg);
}
@media (min-width: 768px) {
  .descriptions__icon--tub::after {
    content: "2";
  }
}

.descriptions__icon--eat {
  background-image: url(../img/descriptions-eat.svg);
}
@media (min-width: 768px) {
  .descriptions__icon--eat::after {
    content: "3";
  }
}

.descriptions__icon--alarm {
  background-image: url(../img/descriptions-alarm.svg);
}
@media (min-width: 768px) {
  .descriptions__icon--alarm::after {
    content: "4";
  }
}

.descriptions__text {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444;
  margin: 0;
  max-width: 200px;
}
@media (min-width: 768px) {
  .descriptions__text {
    max-width: 240px;
    line-height: 24px;
    letter-spacing: 1.1px;
  }
}

.example-section {
  background-color: #eaeaea;
  padding: 25px 20px 40px;
  position: relative;
}
@media (min-width: 768px) {
  .example-section {
    background: linear-gradient(#fff 620px, #f2f2f2 620px 100%);
    padding: 42px 30px 6px;
  }
}
@media (min-width: 1440px) {
  .example-section {
    background: linear-gradient(#fff 214px, #f2f2f2 214px 100%);
    padding: 78px 110px 70px;
  }
}

.example-section__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example-section__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .example-section__title {
    margin-bottom: 146px;
  }
}

@media (min-width: 1440px) {
  .example-section__wrapper {
    width: 450px;
  }
}

.example-section__text {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example-section__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 33px;
  }
}
@media (min-width: 1440px) {
  .example-section__text {
    margin-bottom: 49px;
  }
}

.example-section__achievements {
  margin-top: 20px;
  margin-bottom: 20px;
}

.example-section__cost {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example-section__cost {
    margin-top: 27px;
    font-size: 20px;
    line-height: 29px;
    max-width: 180px;
    text-align: end;
  }
}
@media (min-width: 1440px) {
  .example-section__cost {
    text-align: start;
    max-width: none;
    display: flex;
    width: 327px;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .example-section__image-wrapper {
    margin-top: 56px;
  }
}
@media (min-width: 1440px) {
  .example-section__image-wrapper {
    margin-top: -46px;
  }
}

.example-section__images {
  margin-top: 40px;
  margin-bottom: 10px;
  position: relative;
}
@media (min-width: 768px) {
  .example-section__images {
    padding-left: 90px;
  }
}
@media (min-width: 1440px) {
  .example-section__images {
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  .example-section__img {
    width: 592px;
    height: 511px;
  }
}

.example-section__img-after {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: -1;
}

@media (min-width: 768px) {
  .example-section__inner-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .example-section__inner-wrapper {
    flex-direction: column;
  }
}

@media (min-width: 1440px) {
  .example-section__image-wrapper {
    width: 592px;
    position: absolute;
    top: 26px;
    right: 108px;
  }
}

.example-section__switcher {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .example-section__switcher {
    margin: 17px auto 49px;
  }
}
@media (min-width: 1440px) {
  .example-section__switcher {
    margin-top: 34px;
  }
}

.form-header {
  width: 280px;
  margin: 0 auto;
  padding: 27px 20px 35px;
  border-top: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .form-header {
    width: 628px;
    padding-top: 36px;
    padding-bottom: 63px;
    border-top: none;
  }
}
@media (min-width: 1440px) {
  .form-header {
    width: 1220px;
    padding-top: 46px;
    padding-bottom: 66px;
  }
}

.form-header__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 768px) {
  .form-header__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.form-header__text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 37px;
  max-width: 240px;
}
@media (min-width: 768px) {
  .form-header__text {
    font-size: 20px;
    line-height: 30px;
    margin-top: 54px;
    max-width: 325px;
  }
}
@media (min-width: 1440px) {
  .form-header__text {
    margin-top: 56px;
  }
}

.index-header {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 302px, #fff 302px), url(../img/index-header-background-mobile.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .index-header {
    background-image: none;
    position: relative;
    height: 760px;
  }
}
@media (min-width: 1440px) {
  .index-header {
    height: 446px;
    margin-bottom: 58px;
  }
}

@media (min-width: 1440px) {
  .index-header::before {
    content: "";
    width: 720px;
    height: 694px;
    position: absolute;
    top: -140px;
    right: 0;
    z-index: -2;
    background-image: linear-gradient(90deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/index-header-background-desktop.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.index-header__title {
  color: #fff;
  margin: 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .index-header__title {
    color: #000;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    margin-left: 87px;
    margin-bottom: 41px;
  }
}
@media (min-width: 1440px) {
  .index-header__title {
    margin-left: 160px;
    margin-bottom: 40px;
  }
}

.index-header__slogan {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .index-header__slogan {
    color: #000;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    margin-left: 87px;
  }
}
@media (min-width: 1440px) {
  .index-header__slogan {
    margin-left: 160px;
    margin-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .index-header__button {
    margin-top: 20px;
    width: max-content;
    margin-left: 87px;
  }
}
@media (min-width: 1440px) {
  .index-header__button {
    margin-left: 160px;
  }
}

.index-header__img {
  width: 280px;
  height: 270px;
}
@media (min-width: 768px) {
  .index-header__img {
    background-size: contain;
    width: 709px;
    height: 609px;
    position: absolute;
    top: 236px;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .index-header__img {
    width: 552px;
    height: 500px;
    background-color: transparent;
    top: 0;
    right: 330px;
  }
}

.main-nav__list {
  margin: 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 62px;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 440px;
    position: static;
    margin-left: auto;
  }
}
@media (min-width: 1440px) {
  .main-nav__list {
    width: 480px;
  }
}

.main-nav__list--closed {
  display: none;
}
@media (min-width: 768px) {
  .main-nav__list--closed {
    display: flex;
  }
}

.main-nav__list--no-js {
  position: static;
}

.page-footer {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .page-footer {
    width: 708px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
    padding-bottom: 28px;
  }
}
@media (min-width: 1440px) {
  .page-footer {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.page-footer__wrapper {
  background-color: #f2f2f2;
}

.page-footer__logo-title {
  padding-top: 39px;
  padding-bottom: 27px;
}
.page-footer__logo-title:hover {
  opacity: 0.8;
}
.page-footer__logo-title:active {
  opacity: 0.6;
}

.page-footer__list {
  padding-top: 20px;
  padding-bottom: 16px;
  width: 280px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .page-footer__list {
    padding-top: 28px;
    margin-left: 26px;
    border: none;
  }
}

.page-footer__copyright {
  padding-top: 22px;
  padding-bottom: 22px;
  margin: 0;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    padding-top: 28px;
  }
}
@media (min-width: 1440px) {
  .page-footer__copyright {
    padding-top: 32px;
  }
}

.promotion-section {
  box-sizing: border-box;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/promo-background.jpg);
  background-color: rgba(104, 183, 56, 0.85);
  background-repeat: no-repeat;
  color: #fff;
  width: 280px;
  height: 290px;
  padding-top: 187px;
  padding-left: 58px;
  padding-right: 58px;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .promotion-section {
    background-image: url(../img/promo-background@2x.jpg);
  }
}
.promotion-section::after {
  content: "";
  background-image: url(../img/gift-icon.svg);
  width: 78px;
  height: 80px;
  position: absolute;
  top: 56px;
  left: 101px;
}
@media (min-width: 768px) {
  .promotion-section::after {
    top: 57px;
    left: 77px;
    width: 80px;
    height: 82px;
  }
}
@media (min-width: 1440px) {
  .promotion-section::after {
    top: 56px;
    left: 84px;
    width: 80px;
    height: 82px;
  }
}
@media (min-width: 768px) {
  .promotion-section {
    width: 708px;
    height: 200px;
    padding: 71px 124px 69px 422px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/promo-background-tablet.jpg);
    background-size: cover;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .promotion-section {
    background-image: url(../img/promo-background-tablet@2x.jpg);
  }
}
@media (min-width: 1440px) {
  .promotion-section {
    width: 245px;
    height: 289px;
    padding-top: 185px;
    padding-left: 41px;
    padding-right: 41px;
    padding-bottom: 0;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/promo-background-desktop.jpg);
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .promotion-section {
    background-image: url(../img/promo-background-desktop@2x.jpg);
  }
}

.promotion-section__description {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .promotion-section__description {
    text-align: start;
  }
}
@media (min-width: 1440px) {
  .promotion-section__description {
    text-align: center;
  }
}

.selection-form {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .selection-form {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 72px;
  }
}
@media (min-width: 1440px) {
  .selection-form {
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 82px;
  }
}

.selection-form__field-group {
  margin: 0;
  margin-top: 26px;
  padding: 0;
  border: none;
}
@media (min-width: 768px) {
  .selection-form__field-group {
    margin-top: 65px;
  }
}
@media (min-width: 1440px) {
  .selection-form__field-group {
    margin-top: 69px;
  }
}

.selection-form__field-group:first-child {
  margin-top: 0;
}

.selection-form__field-group--cat-data {
  display: grid;
}
@media (min-width: 1440px) {
  .selection-form__field-group--cat-data {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 80px;
  }
}

@media (min-width: 768px) {
  .selection-form__field-group--contacts-data {
    margin-top: 75px;
  }
}
@media (min-width: 1440px) {
  .selection-form__field-group--contacts-data {
    margin-top: 69px;
  }
}

.selection-form__field-group--comment {
  margin-top: 22px;
}
@media (min-width: 768px) {
  .selection-form__field-group--comment {
    margin-top: 65px;
  }
}
@media (min-width: 1440px) {
  .selection-form__field-group--comment {
    margin-top: 46px;
  }
}

.selection-form__field-group--add {
  margin-top: 22px;
}
@media (min-width: 768px) {
  .selection-form__field-group--add {
    margin-top: 65px;
  }
}
@media (min-width: 1440px) {
  .selection-form__field-group--add {
    margin-top: 68px;
  }
}

.selection-form__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
  border: none;
}
@media (min-width: 768px) {
  .selection-form__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.selection-form__title--add {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .selection-form__title--add {
    margin-bottom: 64px;
  }
}

.selection-form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.selection-form__list--cat-data {
  padding-top: 4px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .selection-form__list--cat-data {
    padding-bottom: 72px;
    border-bottom: none;
  }
}
@media (min-width: 1440px) {
  .selection-form__list--cat-data {
    padding: 0;
  }
}

.selection-form__list--program-type {
  padding-top: 28px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .selection-form__list--program-type {
    padding-top: 30px;
    padding-bottom: 28px;
    border: 1px solid #e7e7e7;
  }
}

.selection-form__list--checkbox-list {
  display: grid;
  gap: 25px;
}
@media (min-width: 768px) {
  .selection-form__list--checkbox-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 41px;
  }
}
@media (min-width: 1440px) {
  .selection-form__list--checkbox-list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 78px;
    row-gap: 32px;
  }
}

@media (min-width: 1440px) {
  .selection-form__list--contacts-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.selection-form__item {
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .selection-form__item {
    margin-bottom: 20px;
  }
}

.selection-form__item:last-child {
  margin-bottom: 0;
}

.selection-form__item--radio:not(:last-child) {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .selection-form__item--radio:not(:last-child) {
    margin-bottom: 23px;
  }
}

.selection-form__item--checkbox {
  margin-bottom: 0;
}

.selection-form__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444;
  display: flex;
  align-items: baseline;
}
@media (min-width: 768px) {
  .selection-form__label {
    font-size: 20px;
    line-height: 30px;
  }
}

.selection-form__label-text {
  margin-right: 14px;
  width: max-content;
}

.selection-form__label--email {
  position: relative;
}
.selection-form__label--email::after {
  content: "";
  display: block;
  width: 20px;
  height: 14px;
  background-image: url(../img/email-icon.svg);
  position: absolute;
  top: 16px;
  right: 15px;
}
@media (min-width: 768px) {
  .selection-form__label--email::after {
    top: 21px;
    right: 19px;
  }
}

.selection-form__label--tel {
  position: relative;
}
.selection-form__label--tel::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/phone-icon.svg);
  position: absolute;
  top: 13px;
  right: 13px;
}
@media (min-width: 768px) {
  .selection-form__label--tel::after {
    top: 16px;
    right: 16px;
  }
}

.selection-form__label--radio {
  color: #222;
  padding-left: 46px;
  display: block;
  position: relative;
}
@media (min-width: 768px) {
  .selection-form__label--radio {
    padding-left: 88px;
  }
}

.selection-form__label--checkbox {
  color: #000;
  padding-left: 46px;
  position: relative;
}
@media (min-width: 768px) {
  .selection-form__label--checkbox {
    padding-left: 60px;
  }
}

.selection-form__mark {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #CDCDCD;
  position: absolute;
  top: -6px;
  left: 0;
}
@media (min-width: 768px) {
  .selection-form__mark {
    width: 40px;
    height: 40px;
    left: 28px;
  }
}

.selection-form__mark--radio {
  border-radius: 50%;
}
.selection-form__mark--radio::after {
  content: "";
  display: none;
  width: 14px;
  height: 14px;
  background-color: #68B738;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 7px;
}
@media (min-width: 768px) {
  .selection-form__mark--radio::after {
    width: 18px;
    height: 18px;
    top: 10px;
    left: 10px;
  }
}

@media (min-width: 768px) {
  .selection-form__mark--checkbox {
    left: 0;
  }
}
.selection-form__mark--checkbox::after {
  content: "";
  display: none;
  width: 18px;
  height: 14px;
  background-image: url(../img/check-icon.svg);
  background-size: contain;
  position: absolute;
  top: 7px;
  left: 6px;
}
@media (min-width: 768px) {
  .selection-form__mark--checkbox::after {
    width: 24px;
    height: 19px;
    top: 10px;
    left: 9px;
  }
}

.selection-form__radio:checked + .selection-form__mark--radio::after,
.selection-form__checkbox:checked + .selection-form__mark--checkbox::after {
  display: block;
}

.selection-form__input {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444;
  border: 1px solid #E7E7E7;
  padding: 13px 16px;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .selection-form__input {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 21px;
  }
}

.selection-form__input--email {
  padding-right: 40px;
}

.selection-form__comment {
  display: block;
  width: 100%;
  height: 150px;
  margin-top: 4px;
  padding: 9px 13px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  resize: none;
  overflow: auto;
}
@media (min-width: 768px) {
  .selection-form__comment {
    font-size: 20px;
    line-height: 30px;
    height: 174px;
    margin-top: 0;
    padding: 10px 19px;
  }
}

.selection-form__submit-button {
  display: inline-block;
  width: 280px;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .selection-form__submit-button {
    width: 283px;
    margin-top: 58px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 17px;
    padding-bottom: 15px;
  }
}
@media (min-width: 1440px) {
  .selection-form__submit-button {
    width: auto;
    margin-top: 64px;
    padding: 16px 208px;
  }
}

.selection-form__footnote {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .selection-form__footnote {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-top: 75px;
    margin-left: 58px;
  }
}
@media (min-width: 1440px) {
  .selection-form__footnote {
    margin-top: 82px;
    margin-left: 77px;
  }
}

.socials-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
  padding: 0;
}

.socials-link {
  display: block;
}

.socials-icon {
  fill: #666;
}
.socials-link:hover .socials-icon {
  fill: #68B738;
}
.socials-link:active .socials-icon {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .socials-icon--vk {
    width: 30px;
    height: 22px;
  }
}

@media (min-width: 768px) {
  .socials-icon--instagram {
    width: 24px;
    height: 24px;
  }
}

.socials-icon--facebook {
  fill: none;
  stroke: #666;
}
.socials-link:hover .socials-icon--facebook {
  fill: none;
  stroke: #68B738;
}
@media (min-width: 768px) {
  .socials-icon--facebook {
    width: 30px;
    height: 30px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.switcher {
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .switcher {
    width: 580px;
  }
}

.switcher__area {
  box-sizing: border-box;
  width: 86px;
  height: 14px;
  border: 1px solid #cdcdcd;
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .switcher__area {
    width: 426px;
    height: 6px;
    background-color: #dcdcdc;
  }
}

.switcher__pin {
  box-sizing: border-box;
  width: 36px;
  height: 6px;
  background-color: #68B738;
  border-radius: 6px;
  position: absolute;
  left: 5px;
  top: 3px;
}
@media (min-width: 768px) {
  .switcher__pin::before {
    content: "";
    position: absolute;
    top: -13px;
    left: -13px;
    display: block;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background: #fff;
    z-index: -1;
  }
}
@media (min-width: 768px) {
  .switcher__pin {
    width: 8px;
    height: 8px;
    top: -1px;
    left: 210px;
  }
}

.switcher__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: inherit;
  padding: 5px;
}
@media (min-width: 768px) {
  .switcher__button {
    font-size: 20px;
    line-height: 30px;
  }
}

.popup-close {
  display: none;
}

.popup-open {
  display: block;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}

.logo__image {
  margin-right: 57px;
}
@media (min-width: 768px) {
  .logo__image {
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .logo__image {
    width: 202px;
    height: 60px;
  }
}

@media (min-width: 768px) {
  .logo__sign {
    display: none;
  }
}

.site-list {
  list-style-type: none;
  padding: 0;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  text-align: center;
}
@media (min-width: 768px) {
  .site-list {
    border: none;
  }
}
@media (min-width: 1440px) {
  .site-list {
    background-color: transparent;
  }
}

.site-list__item {
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .site-list__item {
    border: none;
    padding-top: 18px;
  }
}

@media (min-width: 768px) {
  .site-list__item--active .site-list__link::after {
    content: "";
    display: block;
    margin-top: 8px;
    height: 2px;
    background-color: #68B738;
  }
}
@media (min-width: 1440px) {
  .site-list__item--active .site-list__link::after {
    background-color: #fff;
    margin-top: 6px;
  }
}

@media (min-width: 768px) {
  .site-list__item--active .site-list__link--dark::after {
    background-color: #68B738;
  }
}

.site-list__link {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
.site-list__link:hover {
  opacity: 0.6;
}
.site-list__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .site-list__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .site-list__link {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
  }
}

@media (min-width: 1440px) {
  .site-list__link--dark {
    color: #111;
  }
}

.highlighted-title {
  overflow: hidden;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.highlighted-title:before, .highlighted-title:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background-color: #68B738;
  position: relative;
}
.highlighted-title:before {
  margin-left: -100%;
  left: -20px;
}
@media (min-width: 768px) {
  .highlighted-title:before {
    left: -36px;
  }
}
.highlighted-title:after {
  margin-right: -100%;
  right: -20px;
}
@media (min-width: 768px) {
  .highlighted-title:after {
    right: -36px;
  }
}
/*# sourceMappingURL=style.css.map */