$main-theme-color: #68B738;

$font-stack: 'Oswald', sans-serif;
$font-additional: Arial, sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$catalog-image-offset: 81px;
